.heroWrapper {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }
  
/* .imageWrapper {
    z-index: -1;
  } */
  

  @media only screen and (max-width: 1050px)  {
    .heroWrapper {
        height: 40vh;
    }
  }
  @media only screen and (max-width: 1200px)  {
    .heroWrapper {
        height: 50vh;
    }
  }